<!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Step 1</li>
    <li>Step 2</li>
    <li>Step 3</li>
  </ul>
  <!-- fieldsets -->
  
  <fieldset class="container-fluid" [style.display]="this.isModalOneVisible?'block':'none'">
    
    <h2 class="fs-title">Step 1</h2>
    
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
    <input type="button" name="next" class="next action-button" value="Next" (click)="onclick()"/>
  
  </fieldset>


  <fieldset class="container-fluid" [style.display]="this.isModalTwoVisible?'block':'none'">
   
    <h2 class="fs-title" >Step 2</h2>
   <div id="aa">
      <table  cellspacing="0" rules="all" border="1" id="Table1" style="border-collapse: collapse">
        <tr>
            <th  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th style="width:150px">Column Names</th>
            
        </tr>
       
        <tr *ngFor="let i of bb">
            <td><input type="checkbox"/></td>
            <td>{{i}}</td>
       </tr>
    </table>
    </div>
   

   
  <br />
  <input id = "btnGet" type="button" value="Get Selected" (click)='cc()'/>
    <input type="button" name="previous" class="previous action-button" value="Previous"(click)="onclick3()" />
    <input type="button" name="next" class="next action-button" value="Next" (click)="onclick1()"/>
  
  </fieldset>
  

  <fieldset class="container-fluid" [style.display]="this.isModalThreeVisible?'block':'none'">
   
    <h2 class="fs-title">Step 3</h2>
    
    <input type="button" name="previous" class="previous action-button" value="Previous"(click)="onclick()" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" (click)="onclick1()"/>

  </fieldset>

</form>
